
.front-bg{
    background-color: antiquewhite;
    width:100vw;
    height:100vh;
    
}
.front-box-parent{
    width:60vw;
    height:100vh;
}

.year-pixel{
    width:36vw;
    height:96vh;
    font-size:0.75vw;
    text-align:center;
    background-color:#f1f2f6;

}
.year-table{
    border:0.1vw solid black;
    background-color:#dfe4ea;
}
.cell-size{
    width:1.25vw !important;
    height: 1.25vw !important;
    border:0.1vw solid black;
    
}
.cell-invalid{
    background-color:black;
}
.year-legend{
    width:10vw;
    height:20vh;
}

.year-legend-row{
    width:10vw;
    height:3vh;
    font-size: 1.5vw;
    text-align:left;
}

.year-legend-color{
    width:3vh;
    height:3vh;
    margin-right:2vw;
}

.front-parent{
    width:25vw;
    height:96vh;
    border: 0.125vh double white;
    font-family: 'VT323', monospace;
}

.front-title-text{
    font-family: 'VT323', monospace;
    font-size:3vw;
}

.front-year-text{
    font-size: 2vw;
}

.nav-bar-bg{
    background-color:transparent;
  }
  