 #title {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }

 #description {
     font-family: Georgia, 'Times New Roman', Times, serif
 }

 body{
     overflow-y:hidden;
 }

 #wrapper{
     width:90vw;
     height:80vh;
     border:0.1vw solid black;
 }


 #text-area{
    height:60vh
    border: 0.1vw solid black;
 }

 #spacer{
    height:10vh;
    border:0.1vw solid black;
 }