 #title {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
 }

 #description {
     font-family: 'PT Sans', sans-serif;
 }

 body {
     overflow-y: hidden;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 #wrapper {
     width: 90vw;
     height: 100vh;
 }

 #text-area {
     height: 60vh;
     width: 90vw;
 }

 #spacer {
     width: 90vw;
     height: 10vh;
 }

 #buttons {
     width: 30vw;
     height: auto;
     margin-bottom: 5vh;
 }